body{
	background-color: #FFE000;
	height:100vh;
	max-width: 50rem;
	margin-inline: auto;
	border: 5px solid blue;
}

h1{
	text-decoration: underline;
	text-emphasis-color: blue;
	text-size: 100px;
	font-family: serif;
	text-align: center;
}

.img-gym{
	box-shadow: 8px 8px 16px;
	border-radius:20px;
	background-color: black;
	padding-top: 3%;
	width: 200px;
}
.img-lifting{
	box-shadow: 8px 8px 16px;
	border-radius:20px;
	background-color: black;
	padding-top: 3%;
	width: 255px;
}
.img-bench{
	border-radius: 30px;
	background-color: red;
	padding-top: 6%;
	width: 200px;
	height:50;
}

*{
	margin: 5px;
	box-sizing: border-box;
}














